[2019-07-16 14:54] danielpacak opened #3 "Rename deployment to harbor-scanner-trivy"

[2019-07-18 12:48] #3 closed, assigned to nobody

[2019-08-13 11:49] steven-zou opened #5 "Failed to trigger scan with Trivy"
Send request:
[code]
The following error occurred:
[code]

[2019-09-04 09:00] danielpacak commented on #5
This is most likely related to the way we concatenate registry URL with repository and artifact digest to create a docker image reference which is then passed as a command line arg to Trivy executable.

https://github.com/aquasecurity/harbor-scanner-trivy/blob/master/pkg/image/trivy/scanner.go#L32

We should parse the registry URL and extract host:port part, so instead of `http://10.16*.*.*/scanne

[2019-09-20 08:43] danielpacak opened #6 "Implement AcceptScanRequest handler"
The handler should validate the incoming ScanRequest, enqueue it for processing, and return an identifier for fetching the corresponding ScanReport.

Do not bother with private registries. We have a dedicated issue for that #12

[2019-09-20 08:45] danielpacak opened #7 "Implement GetScanReport handler"
The handler should check whether the corresponding ScanJob completed and return appropriate HTTP status codes. If the ScanJob is completed, a ScanReport should be returned based on the Accept MIME type request by the client.

[2019-09-20 08:46] danielpacak opened #8 "Implement GetMetadata handler"

[2019-09-20 08:48] danielpacak opened #9 "Implement ScanJobWorker"
Implement logic for processing enqueued ScanJobs, i.e. exec trivy, parse the output report, map it to Harbor vulnerability report, and finally persist.

[2019-09-20 08:50] danielpacak opened #10 "Release a Docker image"

[2019-09-20 08:51] danielpacak opened #11 "Implement a liveness probe and readiness check"

[2019-09-20 13:13] danielpacak opened #12 "Implement Basic authorization"
Harbor will send robot account name and token as the value of registry `authorization` property of ScanRequest. Those values should be set as `TRIVY_USERNAME` and `TRIVY_PASSWORD` envs.

[2019-09-24 13:30] #6 closed

[2019-09-24 13:35] danielpacak commented on #5
Resolved in #13

[2019-09-24 13:36] #5 closed

[2019-09-25 12:52] danielpacak opened #15 "Invoke Trivy as Golang library not a process spawned by `exec.Command`"
This would streamline release management and upgrades to Trivy. @knqyf263

[2019-09-26 10:11] #9 closed

[2019-09-26 14:06] #8 closed

[2019-09-26 14:28] #7 closed

[2019-09-26 16:32] #12 closed

[2019-10-02 08:47] danielpacak opened #22 "Use volatile keys in Redis store"
So far we have a persistent keys for scan jobs, i.e. `harbor.scanner.trivy:data-store:scan-job:<scan_job_id>`. However it's not required by Scanner Adapter API to store scan reports forever. The clients, in particular Harbor, are supposed to cache the latest scan report.

We could use volatile key instead with configurable TTL. See https://redis.io/commands/expire

[2019-10-03 13:18] danielpacak opened #24 "Upgrade from Go 1.12 to 1.13"

[2019-10-03 13:55] #10 closed

[2019-10-04 13:48] #22 closed

[2019-10-07 10:36] danielpacak opened #27 "Run CIS Docker Bench for Trivy image and fix the warnings"

[2019-10-07 22:18] Sacules commented on #24
Hi, I'd like to take this one :)

[2019-10-08 08:41] danielpacak opened #29 "Provide a helm chart to facilitate installation"
Based on kube/harbor-scanner-trivy.yaml we should provide service and deployment templates and define configuration values to install adapter with helm install ./charts/harbor-scanner-trivy

[2019-10-10 09:47] #24 closed

[2019-10-10 13:17] #11 closed

[2019-10-11 14:57] danielpacak opened #32 "Add support for TLS/HTTPS"

[2019-10-14 12:07] danielpacak commented on #29
Should we also make it available form https://hub.helm.sh/ ? @lizrice

[2019-10-14 12:22] danielpacak opened #36 "Use Docker build arg to pull Trivy binary and add it to the image"
So far Trivy 0.1.6 is used by default. We should be able to easily upgrade to newer version.

Version should be also reflected in the /api/v1/matadata response. As of now it's hardcoded.

[2019-10-15 07:00] danielpacak opened #38 "Automate running component tests"
So far I have to run docker compose, wait for all service to become ready, and only then execute the out of process component tests. We'd like to have a single make goal that does all.

Before:
[code]

After:
[code]

[2019-10-18 08:59] danielpacak opened #41 "Configure linter for the project"
I'd love to have linter configured that can be run locally with`make lint` as well as integrated with our CI pipeline. Even though our CI is using Travis CI, the configuration should be pipeline agnostic in case we want to switch to something else.

[2019-10-18 09:09] danielpacak commented on #15
As we discussed with @lizrice , this change will not resolve the problem with upgrading Trivy whether it's binary or Go lib. Instead, the scanner adapter's Docker image will be based on Trivy's image with a build arg to easily upgrade Trivy. It's actually done in #40 .

[2019-10-18 09:09] #15 closed

[2019-10-18 10:43] GianOrtiz commented on #41
Hi, I've create a PR for this #42 .

[2019-10-18 13:46] danielpacak opened #43 "Bump up Trivy to the latest release"
New version of Trivy has some cool features, including support for more linux distributions. We should have it. @knqyf263

[2019-10-18 21:26] #32 closed

[2019-10-21 16:19] #36 closed

[2019-10-23 10:01] #41 closed

[2019-10-25 08:40] #43 closed

[2019-11-04 10:35] danielpacak opened #48 "Return Trivy DB update timestamp in metadata"
For Clair Harbor was able to display the upstream vulnerabilities DB update timestamp. If possible we should support the same, i.e. add the `harbor.scanner-adapter/vulnerability-database-updated-at` property to the metadata response.

[code]

[code]

[2019-11-04 10:35] danielpacak commented on #48
@knqyf263

[2019-11-07 09:47] danielpacak opened #50 "Scan fails when policy check is enabled at project level"
When we enable policy check in Harbor Portal Trivy cannot exchange robot account credentials to JWT access token.

<img width="953" alt="policy_enabled" src="https://user-images.githubusercontent.com/1322923/68377869-6a8caa80-014b-11ea-80e2-a149561362a1.png">

We don't have much details in the logs as well

[code]

[2019-11-08 10:55] danielpacak opened #51 "Set TTL for ScanJobs in Queued and Pending states"
We only set TTL for Finished or Failed scan jobs. However, it might happen that a scan job fails and is never retried. Therefore we'll have stale scan jobs stored in Redis.

[2019-11-13 07:38] #51 closed

[2019-11-14 11:59] danielpacak commented on #50
1. When policy check is disabled and Trivy is trying to get manifest, Harbor responds with `401` and `www-authenticate` header. Both are mandatory to enable Trivy to exchange robot account credentials for the access token and retry the get manifest request with such token:
[code]
2. When policy check is enabled and Trivy is trying to get manifest, Harbor responds with `412` without `www-authentica

[2019-11-21 09:26] Hi-Fi opened #59 "Support scanning of application dependencies within Harbor"
Currently harbor-scanner-trivy scans only for [os vulnerabilities](https://github.com/aquasecurity/harbor-scanner-trivy/blob/master/pkg/trivy/wrapper.go#L59), even Trivy support for some [application dependency checking](https://github.com/aquasecurity/trivy#application-dependencies).

[2019-11-25 10:57] skurtzemann opened #63 "Ability to customize trivy scan"
It could be nice if we can customized some parameters of the `trivy` scan :
1.  severities of vulnerabilities to be displayed
2. ability to display only fixed vulnerabilities

My use case is to provide
- a "light" scanner configure with `CRITICAL` and `HIGH` severities and only with fixed vulns
- a "hard" scanner which reports all vulns

---
As scanner wraps `trivy` under the hood, we could simply

[2019-11-25 15:35] #59 closed

[2019-11-25 17:19] danielpacak commented on #50
Tested with the latest `goreleaser/harbor-core:dev` and `goreleaser/harbor-jobservice:dev` and it works!

[2019-11-25 17:19] #50 closed

[2019-11-25 17:30] danielpacak commented on #63
I think this proposal makes perfect sense. To be consistent with existing configs I'd go for `SCANNER_TRIVY_SEVERITY` and `SCANNER_TRIVY_IGNORE_UNFIXED` envs.

Are you going to work on this one? If yes I'll assign to you. Thanks!

[2019-11-25 21:06] skurtzemann commented on #63
Ok for your responses. Yes I'll work on this proposal :)

[2019-11-29 11:54] danielpacak commented on #63
Resolved in #64

[2019-11-29 11:54] #63 closed

[2019-11-29 13:50] skurtzemann commented on #27
Do you mean the section 4 `Container Images and Build File Configuration` of the last CIS Docker Bench (v1.2.0) ?

If a perform a analyse with  `docker/docker-bench-security` I got
[code]

[2019-11-29 13:52] danielpacak commented on #27
The most important one is 4.1 -> there's no reason to run adapter as root.

[2019-11-29 15:39] #29 closed

[2019-12-04 15:51] danielpacak commented on #27
Running as non root was solved by #66

[2019-12-04 15:51] #27 closed

[2020-01-02 10:55] svanschie opened #69 "Helm chart issues with persistent volumes"
When deploying in Kubernetes using the Helm chart, there are some issues with the configuration of persistent volumes.

If you're using persistent volumes, the .cache directory is not writable by uid 1000. If you disable persistent volumes, it's also not writable due to it not being a separate volume and the root filesystem being read only.

It would also be nice to use the default storage class b

[2020-01-03 12:37] danielpacak commented on #69
Hi @svanschie . Thank you for trying out Trivy adapter and opening the issue.
Just for my understanding, you mentioned .cache directory that's not writable. Are you referring to /home/scanner/.cache directory? I believe this one should be writable by uid 1000 - as its home directory.

[2020-01-03 12:50] svanschie commented on #69
Hi @danielpacak, yes I meant the /home/scanner/.cache directory. For me this wasn't writable by uid 1000 by default. By setting the fsGroup=1000 on pod level, this resolved the issue. I'm not sure, but perhaps this depends on the storage driver used for persistent storage, we are using Portworx. Most Helm charts seem to use fsGroup by default when using persistent volumes.

Perhaps it would be bet

[2020-01-07 09:52] danielpacak commented on #69
Got your point. Let's set fsGroup to resolve your main issue in the first run. And I'm okey with making securityContext configurable with Helm values.

[2020-01-09 12:15] danielpacak commented on #69
Resolved by #70

[2020-01-09 12:15] #69 closed

[2020-01-21 16:49] smclinden opened #73 "Running harbor-scanner-trivy as a pure container"
Currently I am building a test instance of Harbor and wanting to test the use of harbor-scanner-trivy, but I don't (yet) want to set up the whole kittten caboodle as a HA cluster (using Helm). I'm able to get a simple container set up and can access the metadata (see below) but nothing else appears to be working.

I've tried various environment variables to be passed to the scanner-trivy container

[2020-01-21 17:41] danielpacak commented on #73
Hi @smclinden . Thank you for your time and opening the issue. In order to help you I need more details though. Could you tell me what exact commands or scripts are you running to start the adapter service as a container? Is it Docker or Docker Compose? Please let me know also which exact environment variable are you trying to set. There is the `SCANNER_LOG_LEVEL=trace` evn which should allow you

[2020-01-21 20:08] smclinden commented on #73
Thank you for the quick response! I used the Dockerfile which came with the git clone.

I was able to do the following (with a few changes since there was already a redis container running for Harbor and Harbor uses port 8080). My changes are in **bold**.

$ docker network create trivy-adapter
$ docker run --name **trivy-redis** -d --rm --network trivy-adapter redis:5
$ docker run --name trivy-ada

[2020-01-21 20:12] smclinden commented on #73
The output of "docker ps" is:

CONTAINER ID        IMAGE                                                 COMMAND                  CREATED             STATUS                      PORTS                                                                 NAMES
005882e16625        aquasec/harbor-scanner-trivy:0.2.2                    "/home/scanner/bin/s…"   12 minutes ago      Up 12 minutes

[2020-01-21 21:14] danielpacak commented on #73
Not sure what do you mean by "I cannot find any logging output". Have you tried `docker logs -f trivy-adapter` and still nothing? At least you should see the info that the adapter service is up and running on the configured port 8181.

Also I see that you get the JSON output of the metadata endpoint of scanner adapter. I assume you get it with curl or alike:

[code]

If that's the case, the URL to

[2020-01-22 13:32] smclinden commented on #73
Ok, I tried the quick and dirty route of editing the /etc/hosts file on harbor-core and harbor-jobservice, e.g.:

172.23.0.3   trivy-adapter

I then get the following from both harbor-core and harbor-jobservice:

# curl http://trivy-adapter:8181/api/v1/metadata
{"scanner":{"name":"Trivy","vendor":"Aqua Security","version":"0.4.2"},"capabilities":[{"consumes_mime_types":["application/vnd.oci.image.

[2020-01-22 13:59] smclinden commented on #73
The last three accesses are from harbor-core and harbor-jobservice.

# docker logs -f trivy-adapter
{"built_at":"2020-01-13T16:00:02Z","commit":"c2b6cb184e696afbe846ec50180d10e973302d1d","level":"info","msg":"Starting harbor-scanner-trivy","time":"2020-01-21T20:29:24Z","version":"0.2.2"}
{"addr":":8181","level":"warning","msg":"Starting API server without TLS","time":"2020-01-21T20:29:24Z"}
{"leve

[2020-01-22 19:29] smclinden commented on #73
So, a little more detail.
I added the Harbor containers to the trivy-adapter network and added the IP address of the trivy-adapter host to /etc/hosts for all of the devices.

With the default IPTABLES I get the following messages in the core.log file (indicating that the Docker internal DNS cannot resolve the name, though the nsswitch.conf file specifies that the search order for hosts should be "

[2020-01-22 21:02] smclinden commented on #73
Ok, I made the following changes to the process outlined above.

First, I added a daemon.json file to /etc/docker and specified our two internal DNSs (which I made no changes to but, at least, I got away from specifying the Docker internal DNS as the default).

Next, I added a subnet designation (which, probably was irrelevant but left fewer things to chance). I did this BEFORE I brought up the Ha

[2020-01-23 14:42] danielpacak commented on #73
@smclinden I am glad that you have managed to get everything working as it should for you.

Please let me know if you need further assistance for now or if I can proceed to flag this issue as resolved.

[2020-01-23 15:09] smclinden commented on #73
Well, I got it to connect and set it as the default scanner, but I am getting the following (which is, likely,a configuration error):

2020-01-23T14:48:07Z [ERROR] [/pkg/scan/job.go:235]: check scan report with mime type application/vnd.scanner.adapter.vuln.report.harbor+json; version=1.0: running trivy wrapper: running trivy: exit status 1: : general response handler: unexpected status code: 500,

[2020-01-23 16:41] danielpacak commented on #73
We do recommend running the adapter's container as non root user. Therefore it's created in Dockerfile and is called `scanner`. In Kubernetes/Helm charts we do mount volumes with fsGroup and writing to mounted locations is not an issue. In the example with Docker I added -u root:root to streamline your setup so you don't have to bother with bind mount permissions.

What I see from the logs though

[2020-01-23 16:54] smclinden commented on #73
Actually, I solved the problem using two steps:
1. Removed the **-u root:root** from the docker command (so that the scanner user owned the cache)
2. Added **-e "TRIVY_NON_SSL=true"** to the docker command.

Harbor is currently set up (for testing purposes) to use no authentication so this was, apparently, necessary.

I won't close this in case you want to add comments but, at this point, I feel t

[2020-02-19 18:13] vzanlnx opened #76 "Can I use trivy client --remote on trivy deployed in harbor?"
I just deployed Trivy with my harbor environment and everything seems to be working fine in the portal, except for one thing.

I'm trying to scan a local image using the trivy server that was deployed in my harbor server.

[code]

The address harbor-trivy.mydomain is a cname I created that points to the load balancer helm created.

I installed with the following params:
[code]

Can you pls tell me

[2020-02-20 10:23] danielpacak commented on #76
Hi @vzanlnx ! Thank you for the question. It's a good one.

Trivy [client/server mode](https://github.com/aquasecurity/trivy#client--server) and [Harbor scanner adapter](https://github.com/goharbor/pluggable-scanner-spec) for Trivy are two different things.

To some extent they are similar, but have different clients and communication protocols. harbor-scanner-trivy exposes the REST API which is c

[2020-02-20 13:06] knqyf263 commented on #76
It's not gRPC, but [twirp](https://github.com/twitchtv/twirp) over ProtocolBuffer. Anyway, Trivy client is designed to send a request to Trivy server launched by `$ trivy server` exposing twirp endpoint. As Daniel said, harbor-scanner-trivy is intended to take a request from Harbor core services. They are different servers.

[2020-02-20 13:19] vzanlnx commented on #76
Thanks for your quick answer on this, much appreciated.

So, is there a supported way to deploy a trivy server on k8s in order to use this way I want?

So I may have two trivy deployments in my k8s cluster, one for harbor and another one for use with `client --remote`. Is there some doc on this? I didn`t find one.

let me know if my question is not clear.

thanks!

[2020-02-20 23:14] danielpacak opened #77 "Expose Trivy server / twirp endpoint"
Currently this Scanner Adapter exposes the REST API for Harbor and uses Trivy standalone (mode) to perform scans.

We could extend it and expose also Trivy server's twirp endpoint to allow Trivy clients to connect to the harbor-scanner-trivy deployment as depicted below. We could actually rename `harbor-scanner-trivy` to a more generic `scanner-trivy` deployment suitable for integrations with Harb

[2020-02-20 23:25] danielpacak commented on #76
@vzanlnx Currently we do not support K8S deployment descriptor for Trivy server, but I believe that you can create one relatively easy with our official `docker.io/aquasec/trivy:0.4.4` Docker image. Just run a Pod with the server command and args. If you expose it with K8S Service you should be able to connect to it with Trivy client from outside of the cluster.

We've created a follow up issue #7

[2020-02-21 00:46] vzanlnx commented on #77
hey @danielpacak , thanks for openning this RFE. I'm going to provide more details about my environment in order to give some context for this specific need.

Today, our pipeline pushes images to harbor, where they are scanned and blocked, or not, depending how critical the vulnerability found is.

And we are changing this model to scan the image BEFORE push to harbor, and block the push process i

[2020-02-21 02:13] jhonatanmorais commented on #77
It would be very useful. Excellent explanation @vzanlnx!

[2020-02-21 10:09] knqyf263 commented on #77
@vzanlnx Thank you for your explanation. It completely makes sense and sounds interesting! We're waiting for @lizrice 's thoughts. Please wait for a while.

[2020-02-21 14:56] rsilva-nk commented on #77
Also works for my company... Nice contribution @vzanlnx

[2020-03-09 15:15] govindkailas opened #79 "Please add support to have existing PVC"
Currently in value.yaml what I see is the below,
[code]

Is there a way to add the existing pvc? I tried the below, but it doesn't seem to be working.
[code]

[2020-03-10 12:13] danielpacak commented on #79
Hi @govindkailas Currently it's not supported. We have to tweak Helm templates to recognize existing PVC

[2020-03-13 15:58] danielpacak opened #82 "Improve error propagation from Trivy to Harbor"
When Trivy fails for some reason, the logs accessible from the Harbor web console sometimes do not contain all the information required for troubleshooting. Typically the logs of the scanner adapter have more info. For example, when we do misconfigure GITHUB_TOKEN, the following meaningless error is shown in Harbor

_2020-03-13T15:54:22Z [INFO] [/pkg/scan/job.go:126]: Report mime types: [applicati

[2020-03-17 09:00] danielpacak opened #86 "Pass the --skip-update flag to trivy executable"
This is mainly to avoid GitHub rate limit errors in Harbor CI/CD environments

[2020-03-17 13:22] #38 closed

[2020-03-18 07:27] #82 closed

[2020-03-18 12:47] #86 closed

[2020-03-25 14:00] danielpacak commented on #48
Resolved by #87

[2020-03-25 14:00] #48 closed

[2020-03-25 14:06] danielpacak opened #90 "Improve readiness checks / wait conditions in components tests"
It might happen that the adapter cannot connect to redis, even if accroding to redis logs it's up and running:

component_test.go:130: adatper logs
        [{"built_at":"unknown","commit":"none","level":"info","msg":"Starting harbor-scanner-trivy","time":"2020-03-25T14:03:00Z","version":"dev"}
         ERROR: write_concurrency_controls_max_concurrency - dial tcp: lookup redis on 192.168.65.1:53: n

[2020-04-08 09:47] bitsf opened #95 "use curl instead of github api, that may avoid using github token"
Hi @danielpacak
For issue #5
I think you can consider using something like below command to get the latest release on github:
[code]

This is actually referenced from goreleaser script

[2020-04-08 10:11] danielpacak commented on #95
Thank you @bitsf for the suggestion. We'll check if we can use it with https://github.com/aquasecurity/trivy /cc @knqyf263

[2020-04-09 05:18] dsielert opened #96 "500 Error"
I keep getting this from a fresh harbor installation I don't unfortunately know what its complaining about though.. is it pulling the image or ?

[code]

[2020-04-09 13:39] danielpacak commented on #96
Hi @dsielert ! Thank you for reporting the issue. Would you mind sharing the logs of the harbor-scanner-trivy pod? The logs viewer accessible from Harbor UI sometimes does not allow us to see what's the root cause of such failure.

To get even more insights, you can set the following Helm values:

[code]

[2020-04-09 19:52] dsielert commented on #96
[code]

[2020-04-10 10:11] heww opened #98 "Got permission error when the db file was copyed from others"
1. Install trivy with `skip_update`
2. Copy trivy.db from offline to `/data/trivy-adapter/trivy/db/trivy.db`
3. Scan image
4. Got error `error in vulnerability DB initialize: failed to open db: open /home/scanner/.cache/trivy/db/trivy.db: permission denied` but the trivy.db permission is `-rwxr-xr-x 1 root  root  128770048 Apr 10 01:00 trivy.db`

[2020-04-10 15:58] danielpacak commented on #96
Hey @dsielert thanks for sending the logs with more verbose output. However, I think the most useful is the log of the Trivy adapter pod, i.e. `kubectl -n harbor logs harbor-scanner-trivy-0`. Do you happen to have access to such log?

Also could you specify:
- Exact version of your Harbor installation
- Exact version of the Trivy adapter
- Which docker image are you trying to scan or at least whic

[2020-04-13 07:23] danielpacak opened #99 "Configure the minimum version of TLS to 1.2"

[2020-04-13 18:08] #99 closed

[2020-04-14 02:13] bitsf commented on #95
@danielpacak Will this be fixed? harbor 2.0 will release soon.

[2020-04-14 10:56] danielpacak opened #102 "Support Redis Sentinel mode"
https://redis.io/topics/sentinel

Harbor can be deployed in HA environment where Redis is also available in Sentinel mode. We should be able to support such setup.

The task here is to check what are the requirements to support sentinel mode and whether the https://github.com/gomodule/redigo lib is suitable. Then, implement the changes to the connection pool and config.

This is relevant for the i

[2020-04-14 14:13] danielpacak commented on #98
Hey @heww How do you run/install the Trivy adapter service?
- Is it with Docker or Helm?
- Docker on Linux or Docker for Mac?
- Are you using the official image that we publish to Docker Hub `docker.io/aquasec/harbor-scanner-trivy:0.8.0` or the one based on PhotonOS 2.0, i.e. `goharbor/trivy-adapter-photon:dev`?
- What's the permission of `/data/trivy-adapter/trivy/db/trivy.db`?

The adapter servi

[2020-04-14 14:28] danielpacak opened #103 "Check read/write access to configurable cache and reports directories"
Trivy requires read/write access to the locations configured via `SCANNER_TRIVY_CACHE_DIR` and `SCANNER_TRIVY_REPORTS_DIR` environment variables.

The adapter service should do a sanity check on init and fail fast, if it dosn't have enough permissions.

[2020-04-15 09:45] danielpacak commented on #95
@bitsf We double check and unfortunately the https://github.com/aquasecurity/harbor-scanner-trivy/releases/latest endpoint is also subject to rate limit. What's more we're downloading the latest asset file for the given release. And there's also flag to download full or light DB.

So for now and Harbor 2.0 the best is to go for GitHub token if the rate limit is a concern.

[2020-04-15 13:41] #103 closed

[2020-04-20 10:47] bitsf commented on #95
OK, got it.

[2020-04-20 10:47] #95 closed

[2020-04-21 15:04] bitsf commented on #102
Hi @danielpacak
I would like to make the env in harbor configured as

- for in cluster redis
  `SCANNER_STORE_REDIS_URL=redis://redis:6379/5`
- for sentinel redis
  `SCANNER_STORE_REDIS_URL=redis+sentinel://redis-cluster_sentinel_1:26379,redis-cluster_sentinel_2:26379,redis-cluster_sentinel_3:26379/mymaster/5`

Is that OK?

[2020-04-26 00:57] heww opened #108 "trivy adapter not work when the interal harbor url is http[s]://harbor-harbor-core"
When the harbor installed by helm in k8s cluster, the interal url is like `http://harbor-harbor-core`. Then scan the image`library/redis@sha256:86edeb058fb97b7e9441515a5f1bb57f1547432fedbaf3513117ba521d99ef9` by trivy, the trivy adapter will process the imags as `harbor-harborr-core/library/redis@sha256:86edeb058fb97b7e9441515a5f1bb57f1547432fedbaf3513117ba521d99ef9`, the trivy command will recogn

[2020-05-04 08:00] danielpacak commented on #102
Hi @bitsf . Yes, I think we can support such URL schema

[2020-05-14 12:43] hrist0stoichev commented on #102
I was trying to implement Redis Sentinel support for `harbor-scanner-trivy` for quite some time but there isn't a good library that can be readily used. `harbor-scanner-trivy` uses `redigo`, which itself doesn't provide Sentinel support. [Sentinel](https://github.com/FZambia/sentinel) is a library that is an extension to `redigo` for Sentinel support but it implements the protocol described [here]

[2020-05-14 14:28] danielpacak commented on #102
That's great feedback @hrist0stoichev Do you happen to know if this one https://github.com/go-redis/redis has by any chance a better support for Sentinel?

[2020-05-14 21:18] hrist0stoichev commented on #102
To be honest @danielpacak, I don't really know whether it has better support. When I researched this, I saw that it has native support for Sentinel but I haven't really looked at the implementation because `harbor-scanner-trivy` already uses `redigo`. I will take a quick look and update if anything comes up!

[2020-05-21 10:34] piyush94 opened #113 "CVE discrepancy"
Hi,
After updating to harbor-scanner-trivy v0.10.0, we are seeing a sharp difference in the CVE report and count. Earlier we were running on v0.9.0.
Does this scanner internally use trivy?
From the commit history i could make out 0.9.0 was using trivy 0.6.0 and now it's using 0.7.0.
Some tests i ran:
**trivy 0.6.0**:
![trivy0 6 0](https://user-images.githubusercontent.com/11614204/82550417-1ba0e28

[2020-05-21 11:18] knqyf263 commented on #113
Hi @piyush94, I'm a developer of Trivy. We changed the behavior of severity in v0.7.0. v0.6.0 used the severity from NVD, but v0.7.0 uses the severity from a vendor such as Red Hat and Debian. The NVD severity is the generic one, but the vendor provides more accurate severity.
https://github.com/aquasecurity/trivy/releases/tag/v0.7.0

[2020-05-21 11:28] danielpacak commented on #113
@piyush94 I should have mentioned the change in the release notes https://github.com/aquasecurity/harbor-scanner-trivy/releases/tag/v0.10.0, which are now updated.

Please close the ticket if we answered your questions.

[2020-05-21 13:52] piyush94 commented on #113
@danielpacak, @knqyf263 - Thanks. This was helpful.

[2020-05-21 13:52] #113 closed

[2020-05-27 12:08] piyush94 opened #114 "CVE duplication in scanning result"
Hi,

We are seeing below duplications in the scan results. And also a discrepancy between scans done short intervals apart. These two were done less than a minute apart.
First scan:
![uua-falcon_fluentd-aggregator-1 6 3-ubuntu_LI](https://user-images.githubusercontent.com/11614204/83016147-20174080-a03f-11ea-88f6-0f4c02273281.jpg)

Second scan:
![uua-falcon_fluentd-aggregator-1 6 3-ubuntu_CRITICAL

[2020-05-27 12:25] piyush94 commented on #114
From trivy 0.7.0, i can see they are coming from different files in the image, but this information is not available in harbor scan. But, also it's changing between count 4 and 7.
![fa1_LI](https://user-images.githubusercontent.com/11614204/83018571-290a1100-a043-11ea-8b59-42be5044ff5e.jpg)
![fa2](https://user-images.githubusercontent.com/11614204/83018574-2b6c6b00-a043-11ea-8f09-32e78be71f5f.JPG)

[2020-05-28 15:42] danielpacak commented on #114
@piyush94 Thank you for opening this issue. I did check and I can reproduce the "duplicates" issue.

However I cannot reproduced the discrepancy in the number of critical vulnerabilities found by Trivy in short intervals. Could you provide more details whether your trivy.db file is cached and / or is up to date?

Regarding duplicates, Trivy scans each `Gemfile.lock` independently and reports vulne

[2020-05-28 16:07] piyush94 commented on #114
@danielpacak Thank you for the info.
Regarding the discrepancy, yesterday, as you can see from my screenshot, Trivy 0.7.0 was showing total count of 7 from 3 files.
But today's scan is matching what you have shared, total count 4 from 2 files, although the image hasn't changed.
Is there any reason for this?

CC: @svisagan83

[2020-05-28 20:09] piyush94 commented on #114
@danielpacak Seems to be a cache issue.
[fluentd.txt](https://github.com/aquasecurity/harbor-scanner-trivy/files/4697945/fluentd.txt)
[fluentd-cache-cleared.txt](https://github.com/aquasecurity/harbor-scanner-trivy/files/4697947/fluentd-cache-cleared.txt)

[2020-05-28 20:43] danielpacak commented on #114
Interesting. The only way I could get 7 critical vulnerabilities is with the previous version of the adapter service, which relies on Trivy v0.6.0. As you might remember in Trivy v0.7.0 we prefer vendor severity, which might justify the discrepancy. Is there any chance that you're running multiple instances of the adapter service, and one of them is still on the previous version?

<img width="1511

[2020-05-28 20:50] danielpacak opened #115 "Update deployment docs for Harbor 2.0 where Trivy is the default scanner"
With Harbor 2.0 things are much easier when it comes to deploying Trivy scanner adapter.
For online/offline installer it's just:

[code]

For HA deployment with Harbor Helm chart, Trivy is enabled by default

[2020-05-29 05:34] piyush94 commented on #114
@danielpacak - I did check our deployment, all the instances are running on v0.10.0. from past 9 days.

[2020-05-29 11:35] danielpacak commented on #114
@piyush94 A few more questions so I fully understand what's happening in your environment:
- When you say cache issue, are you referring to `trivy.db` file or `fanal.db` or maybe the latest scan results stored in Harbor DB?
- How did you clean the cache, was it `trivy -c` command?
- Last but not least, after all did cleaning the cache resolve the discrepancy? Or is is still reproducible? I cannot

[2020-05-29 11:48] piyush94 commented on #114
@danielpacak
- I am not sure which database, but I was referring to this line in the trivy debug log `DB Schema: 1, Type: 1, UpdatedAt: 2020-05-28 12:10:23.757050823 +0000 UTC`.
- I ran the first scan with the flag `--skip-update` and got total count 7 always. Then I cleared cache using `trivy -c` command.
- After this, I got total count as 4 in the next scans with the flag `--skip-update`.

After

[2020-05-29 12:16] piyush94 commented on #114
Also, i did some more tests now.
![uua-fa163_1](https://user-images.githubusercontent.com/11614204/83258360-c6944a80-a1d3-11ea-95a8-563045b67e8e.JPG)

![fa163_4](https://user-images.githubusercontent.com/11614204/83258365-c8f6a480-a1d3-11ea-8266-13e234b0c0b6.JPG)

![fa163_7](https://user-images.githubusercontent.com/11614204/83258366-c98f3b00-a1d3-11ea-80fe-a2b43eec05ba.JPG)

All three images are

[2020-05-30 19:35] danielpacak commented on #114
@knqyf263 Looking at the above examples provided by @piyush94 do you have any idea under which conditions we might get such discrepancies? It seems to be reproducible with trivy executable so I bet it's not related to the adapter service.

[2020-05-31 09:46] knqyf263 commented on #114
@piyush94 Is your image available in public? I couldn't find `ranchercharts/fluentd-aggregator`. Also, it doesn't reproduce in my environment.

[2020-05-31 10:13] piyush94 commented on #114
@knqyf263 It's this one, https://hub.docker.com/r/ranchercharts/fluentd-aggregator/tags

[2020-06-01 06:58] knqyf263 commented on #114
@piyush94 Oh, I don't know why I couldn't find the image 😓 I probably did a typo. I'll look into it. Thanks.

[2020-06-01 07:51] knqyf263 commented on #114
@piyush94 I finally got to know the cause. This is a bug and already fixed in the master branch. I'll release the new version of trivy shortly, then harbor-scanner-trivy is also going to update trivy version. It should be going to fix this problem.

[2020-06-01 09:13] danielpacak opened #117 "Migrate from Travis CI to GitHub Actions"
The goal here is to:
- Release as [github-actions](https://github.com/features/actions) bot
- Do not encrypt credentials in `.travis.yaml` if it's not absolutely necessary

[2020-06-01 09:23] danielpacak commented on #96
Closing as stale. If this problem still exists please reopen the issue and provide requested details.

[2020-06-01 09:23] #96 closed

[2020-06-01 12:23] #108 closed

[2020-06-02 07:06] #117 closed

[2020-06-02 08:25] piyush94 commented on #114
@knqyf263 Which OS and/or packages are affected by this bug?

[2020-06-02 18:50] knqyf263 commented on #114
@piyush94 This affects the image having multiple lock files, regardless of OS and package. I've released v0.9.0 just before. I'm making sure it works properly now.

[2020-06-03 10:13] #114 closed

[2020-06-03 10:51] danielpacak commented on #77
@vzanlnx Sorry for not posting this earlier but we were busy making this adapter a default scanner in Harbor 2.0 as well as implementing some other requirements.

We put more thoughts into this requirement and for similar reason why we did not accept this [PR for adding RethinkDB](https://github.com/aquasecurity/harbor-scanner-trivy/pull/109) I tend to close this one as won't do.

The main reason

[2020-06-03 14:44] danielpacak commented on #76
Closing this one as we've answered the original question. There's a follow up created #77

[2020-06-03 14:44] #76 closed

[2020-06-03 15:11] danielpacak commented on #114
@piyush94 We've just released https://github.com/aquasecurity/harbor-scanner-trivy/releases/tag/v0.11.0 which relies on https://github.com/aquasecurity/trivy/releases/tag/v0.9.0

And we hope that your issue has gone with this new version!

[2020-06-04 07:33] piyush94 commented on #114
Thanks, @knqyf263 @danielpacak
The scanner seems to be consistent in results now.

[2020-06-05 06:13] knqyf263 commented on #114
@piyush94 Thank you for the confirmation!

[2020-06-05 06:43] #77 closed

[2020-06-08 12:45] #115 closed

[2020-06-09 10:31] msiebuhr opened #124 "Egress debug help"
We're using Cilium with default-closed egress, so we have to explicitly allow all egress traffic. A quick way to get started is usually by looking at logs and seeing what gets rejected. Trivy first politely complains about not being able to talk to api.github.com (via `kubectl -n harbor logs pod/harbor-harbor-trivy-0 trivy` and some re-formatting):

[code]

But after opening for `api.github.com` i

[2020-06-09 10:34] danielpacak commented on #124
/cc @knqyf263

[2020-06-09 10:53] msiebuhr commented on #124
Hacked it by looking for the IP in AWS' ip ranges (`curl https://ip-ranges.amazonaws.com/ip-ranges.json  | jq | grep 52.216`) and stuffing that into a Cilium policy:

[code]

[2020-06-09 14:52] knqyf263 commented on #124
@msiebuhr  Thank you for sharing the behavior. I'm going to consider the message. As you said, GitHub Releases redirects to S3.

[code]

I'm not sure how flexible the egress rule is, but is it possible to allow `s3.amazonaws.com` and GET query? If so, you may be able to allow `s3.amazonaws.com` and `filename=trivy.db.gz`. I'm worried that the IP ranges will be changed.

[2020-06-09 19:07] msiebuhr commented on #124
Nice (I couldn't find the URL straight away, so I hacked up this other thing).

AFAIK, Cilium doesn't intercept HTTPS connections (I'd have to spoof AWS' TLS cert), so filename-inspection is off the table. Perhaps some wildcard'y stuff (`github-production-release-asset-2e65be.s3.amazonaws.com` feels like something that might change later on):

[code]

[2020-06-10 07:26] knqyf263 commented on #124
I thought `*.s3.amazonaws.com` was a bit much since other buckets can be accepted. But if Cilium can't filter a request based on params, `*.s3.amazonaws.com` looks the best for now.

[2020-06-15 07:25] danielpacak commented on #124
@msiebuhr are you okey to close this one? As @knqyf263 explained Trivy downloads a DB file from GitHub, which apparently redirects to S3. Beyond that, this adapter service just gets an error message from Trivy's output and returns  back to display it the Harbor interface.

[2020-06-15 09:15] #124 closed

[2020-06-15 09:34] hrist0stoichev opened #125 "302 status code when scan isn't ready"
I noticed that the API sever returns status code 302 in case the scan is not ready yet but I don’t think 302 is a good status code for that. For one, 302 means `the requested resource resides temporarily under a different URI` which isn’t true by all means (the scan definitely resides under this URI). Yet, the bigger problem is that when the server returns 302, the http client automatically redire

[2020-06-15 09:50] danielpacak commented on #125
The adapter service for Trivy implements Harbor Pluggable Scanner API v1.0, which specifies *302 Found* as a valid response status in such case. See https://github.com/goharbor/pluggable-scanner-spec/blob/master/api/spec/scanner-adapter-openapi-v1.0.yaml#L141

We couldn't find the best fit for such long poll API as there's no industry standard. What's more, 2xx status codes have their own drawback

[2020-06-15 10:24] #125 closed

[2020-06-15 11:10] hrist0stoichev commented on #125
Thanks for the explanation, you definitely have a point there! Yet, in that case, what do you think about removing the `Location` header? From one side, its kind of strange to have a Redirect response without a `Location` header but, from the other side, it would solve the problem with infinite redirections. Moreover, the specification doesn't include a `Location` header but rather only a `Retry-A

[2020-06-29 15:04] #90 closed

[2020-07-03 23:47] #102 closed

[2020-07-31 13:45] holyhope opened #135 "Shared volume for multiple Trivy instances"
Hello,

At OVH we plan to deploy Trivy for our [Managed private reigstry service](https://www.ovhcloud.com/en/public-cloud/managed-private-registry/) based on [Harbor](https://goharbor.io).

**Context** I would like to deploy Trivy for hundreds of customers.
**Environment** Harbor on Kubernetes clusters thanks to [Harbor Operator](https://github.com/goharbor/harbor-operator).

1. Is it ok to deplo

[2020-08-10 09:44] danielpacak commented on #135
Hi @holyhope . Please find my answers below:

Nope. Behind the scenes the adapter service runs `trivy` executable binary. However the `trivy` binary does not expect that multiple Trivy processes update the same `trivy.db` file at the same time. Sharing the /home/scanner/.cache volume might causes the inconsistent state of the DB file.

1. `/home/scanner/.cache/reports` - temporary vulnerability re

[2020-08-13 19:18] holyhope commented on #135
Hello @danielpacak ,

Thank you a lot for this full response! 😊
Sadly it means that I cannot share Trivy instances the way I imagined.
So I think that we will start with a dedicated Trivy deployment per Harbor.

This is the configuration I will recommend in the [Harbor Operator](https://github.com/goharbor/harbor-operator).

[2020-08-13 19:32] holyhope commented on #135
I closed it in a hurry, but I still have a question :

I was talking about Trivy with database update disabled (a single distinct Trivy instance will update `trivy.db` from an other side). So, if I am right, there will be no concurrent write in `trivy.db`?
Or maybe Trivy still write in (and lock) `trivy.db` during scan operations?

Let me summarise:
Single Trivy which download trivy.db from Github

[2020-08-14 12:47] danielpacak commented on #135
Hey @holyhope If I understand you correctly you'd still want to share the `trivy.db` as follows

![harbor-scanner-trivy-ha](https://user-images.githubusercontent.com/1322923/90250614-9d7f6f80-de3c-11ea-8d26-8b7da79534f5.png)

For me it's still not feasible as we also have `fanal.db`, which is updated by each trivy process. What's more I believe that trivy is using BoltDB / memory mapped file, whic

[2020-08-14 22:23] holyhope commented on #135
Yes that is what I imagined for `trivy.db`.
But you think that this does not work? Cause of BoltDB and concurrent read?
Seems strange, even if Trivy map the db in memory, I do not see why there will be concurrent issue. I would love to hear @knqyf263 about that 😊

About `fanal.db` I got it that it should not be shared due to concurrent writes.👌

[2020-08-16 06:21] knqyf263 commented on #135
BoltDB doesn't allow multiple processes to open the same database.

https://github.com/etcd-io/bbolt/blob/master/README.md#opening-a-database

We may be able to use `Read-Only Mode`, but it blocks any processes from opening the database in read-write mode.

https://github.com/etcd-io/bbolt/blob/master/README.md#read-only-mode

So, if Trivy process scanning the image opens the database in read-only

[2020-09-18 07:24] danielpacak opened #139 "Document how to install the adapter service from Aqua Helm repository (https://helm.aquasec.com)"
[code]

[2020-11-29 10:54] danielpacak commented on #135
@holyhope Can we close this one as answered?

[2020-11-29 14:54] #135 closed

[2020-12-01 08:35] zzzskd commented on #73
Hi, how to check whether the CVE data download is complete?

[2020-12-01 08:53] danielpacak commented on #73
You can check if the `metadata.json` and `trivy.db` files are present under the `$SCANNER_TRIVY_CACHE_DIR/db` directory. It defaults to the `/home/scanner/.cache/trivy/db` path.

[2020-12-01 09:13] zzzskd commented on #73
Thank you for your answer， i still i still have doubts. my scene is like this:
- Running harbor-scanner-trivy as a pure container according to this issue
- Build harbor-scanner-trivy in Intranet, could not access to the Internet

so, my  thoughts is like this:
1. first, build  harbor-scanner-trivy in outside network, and save cve data;
2. secondly, build  harbor-scanner-trivy in  intranet, then im

[2020-12-01 09:41] zzzskd commented on #73
Oh oh, i got it. I check my harbor-scanner-trivy and find there is not exits `metadata.json` and `trivy.db`.
What shuld i do now?, or Because harbor-scanner-trivy has not finished downloading cve data, and i just need to wait for finisheding download?

My env is :
[code]

my build commands are:

[code]

[2021-01-12 08:45] chris-cmsoft opened #154 "Error when starting adapter pod"
Hi.

I am attempting to start up the trivy container.
It doesn't seem to fail, but has many error messages.

Snippet from pod logs
[code]

Debug and Trace Level Logs switched on

[code]

[2021-01-12 08:58] danielpacak commented on #154
Did you use Helm chart from this repository ./helm/harbor-scanner-trivy or the one maintainer by Harbor https://github.com/goharbor/harbor-helm?

It seems that Redis URL is misconfigured. We switched to single `SCANNER_REDIS_URL` env instead of `SCANNER_STORE_REDIS_URL` and `SCANNER_JOB_QUEUE_REDIS_URL` at some point (see release notes at https://github.com/aquasecurity/harbor-scanner-trivy/releas

[2021-01-12 09:00] danielpacak commented on #154
Lookin at https://github.com/goharbor/harbor-helm/blob/master/templates/trivy/trivy-sts.yaml#L98 - it seems that the Harbor's Helm chart is not updated. @chris-cmsoft Please confirm the version and installation mode so we can fix it in the right place.

[2021-01-12 11:44] chris-cmsoft commented on #154
I used the helm chart using `helm fetch harbor/harbor --untar`

From thereI templated it out and started kustomization work on it.

Seems like v2.1.2. I installed it 2 days ago, so should be.

[2021-01-12 11:45] chris-cmsoft commented on #154
I have `SCANNER_REDIS_URL` specified, as well as the others.

[2021-01-12 11:46] chris-cmsoft commented on #154
Is there a better place to find the correct manifests ?

[2021-01-12 11:57] danielpacak commented on #154
The officially supported way to install Trivy with Harbor with Helm chart is to use Helm **values**, which in turn sets appropriate environment variables. So if you're using Harbor's Helm chart https://github.com/goharbor/harbor-helm you should be reporting issues there.

I'm not quite sure what do you mean by "started kustomization"? Please provide the Helm values.yaml so we can reproduce and fix

[2021-01-12 15:29] chris-cmsoft commented on #154
I installed it with default values using helm, except changing up the url secrets.

[code]

From there I extracted the trivy templates, and added a kustomization file for it.

I am running a test in the same namespace with the same redis host to see if I can connect

[2021-01-12 15:46] danielpacak commented on #154
And what is the problem that you're trying to solve? Why Trivy provided by the official Harbor helm chart and configurable via Helm values is not suitable and you install it the other way?

[2021-01-12 16:51] chris-cmsoft commented on #154
I have found the problem.

The redis I am using is secured using SSL/TLS, and requires the use of the `rediss://` protocol rather than `redis://`.

I will open a new ticket for supporting Redis over SSL/TLS.

[2021-01-12 16:52] chris-cmsoft commented on #154
I prefer using Kustomize manifests, as it is more clear what is actually being created.

I generally don't prefer Helm as it has too much templating capability for my taste.

[2021-01-12 16:54] #154 closed

[2021-01-12 16:56] chris-cmsoft opened #155 "Support SSL/TLS redis connection"
Current container only support `redis://` protocol.

When connecting to redis using SSL/TLS, the rediss:// protocol is used.

Would it be worthwhile adding support for the `rediss://` protocol from Trivy ?

[2021-01-14 10:01] danielpacak commented on #155
What is your use case? Harbor itself does not currently support rediss:// connection URI.

Do you want to use different Redis instance or cluster for Harbor services and Trivy scanner adapter?

[2021-01-18 10:33] chris-cmsoft commented on #155
Some managed services are immediately provisioned with the `rediss://` URI.

My use case is specifically DigitalOcean managed Redis.

Trivy is the first place I noticed it as it was the first component I deployed, but the same would be applicable to Harbor.

More a note for consideration than a requirement.
Ultimately your choice whether it's a worthwhile addition.

[2021-01-18 10:44] danielpacak commented on #155
Thank you for additional details @chris-cmsoft

Since this in an integral component of Harbor, if the community decides to add support for rediss:// to Harbor we'll do the same for this adapter.

[2021-02-04 09:02] danielpacak opened #156 "Use primary URL so that's the only URL displayed by Harbor"
Currently we return a list of URLs, which are displayed in Harbor in a tool tip. This is a bit confusing. We could return the primary URL and navigate users to AVD, and from there they could find more details.

![trivy_avd](https://user-images.githubusercontent.com/1322923/106868875-9a6c8a00-66cf-11eb-8233-0bf0adc28bb9.png)

IIRC If we return only 1 URL, Harbor will display it without the tool tip

[2021-02-11 11:56] danielpacak commented on #98
Cannot reproduce this one. Please reopen if the problem persists.

[2021-02-11 11:56] #98 closed

[2021-02-11 16:43] #156 closed

[2021-02-12 07:20] itsecforu commented on #96
Did someone solve it?

[2021-02-12 08:19] danielpacak commented on #96
We cannot solve it without additional details requested [here](https://github.com/aquasecurity/harbor-scanner-trivy/issues/96#issuecomment-612094672) Is that something you can reproduce @itsecforu ?

[2021-02-12 09:17] itsecforu commented on #96
@danielpacak

1. Harbor Version v2.1.1-5f52168e
2.  Scanner:
Name:Trivy
Vendor:Aqua Security
Version:v0.9.2
Capabilities
Consumes Mime Types:[application/vnd.oci.image.manifest.v1+json , application/vnd.docker.distribution.manifest.v2+json]
Produces Mime Types:[application/vnd.scanner.adapter.vuln.report.harbor+json; version=1.0]
Properties
com.github.aquasecurity.trivy.debugMode:false
com.github.

[2021-02-12 10:19] danielpacak commented on #96
Every scan triggered by Harbor that's failing will end up with status code: 500 displayed in Harbor portal under scan job logs. Therefore we have to be more precise when we create issues and describe errors. The title **500 Error** is really meaningless.

Anyway, there're two different issues reported here by @dsielert and @itsecforu respectively:

1. unable to retrieve auth token: invalid usernam

[2021-02-12 10:41] itsecforu commented on #96
Yes its public image!
pipeline/ - means local registry

[2021-02-12 10:58] danielpacak commented on #96
Is it only this alpine:3.13.1 -based image causing the error? Or any image in your registry? I could not reproduce the same in my env. Did you try rescanning to see if that was not a temporary network failure where Trivy could not download image layers?

[2021-02-12 11:15] itsecforu commented on #96
istio/examples-helloworld-v1 scanned ok!

[2021-02-12 11:48] itsecforu commented on #96
[code]

i get weird status "unsupported":

![image](https://user-images.githubusercontent.com/38696837/107764540-6af9f500-6d41-11eb-8ba9-c53663459332.png)

[2021-02-12 13:15] danielpacak commented on #96
You may want to check in Harbor official channel as I don't think it's related to Trivy. I just did the same test and it looks okey in my setup:

![harbor_build_history](https://user-images.githubusercontent.com/1322923/107772515-9e865080-6d3c-11eb-8286-5092a4ffd9c5.png)

![harbor_ok](https://user-images.githubusercontent.com/1322923/107772540-a645f500-6d3c-11eb-8efb-85a16621af8b.png)

![harbor_tr

[2021-02-15 07:13] #139 closed

[2021-02-23 07:15] sidarmawan commented on #98
Thank you, work for me.

[2021-03-05 13:57] balonik opened #161 "Add information about OS version support in result"
Currently if OS is not supported by Trivy Scanner distribution we can see that when running `trivy` commands from Shell.

[code]

I would like to have same information about supported/unsupported OS also in the output from this Adapter so it can be leveraged by Harbor. The goal is to display that the OS version is 'not supported' instead of 'no vulnerabilities' result.

[2021-03-09 12:36] pja-kit opened #162 "Add support for Trivy OPA ignore policy"
It would be nice, if we could get support for:
-ignore-policy

https://github.com/aquasecurity/trivy#filter-the-vulnerabilities-by-open-policy-agent-policy

[2021-03-15 12:22] smitphilip opened #164 "Upgrade Trivy Container"
I currently have Harbor v2.1.3-b6de84c5 installed on a docker host. There are some issues in the Trivy version (v0.9.2) that gets shipped with Harbor v2.1.3. These issues were addressed in new versions of Trivy. Will it be possible to upgrade the Trivy container only, independent of the other containers?

I see the Harbor installation pulls its images from the goharbor docker hub and the versions

[2021-03-15 13:07] danielpacak commented on #164
👋 @smitphilip Basically it's the same code and the only difference would be UID and GID and base image used in the container image. The Go code is the same. The reason Harbor does not use aquasec/harbor-scanner-trivy image directly is that Harbor required Photon as a base image for its components, whereas we used alpine for this project. Other than that the solution is production ready.

[2021-03-15 13:20] smitphilip commented on #164
Awesome! Thank you... Could you elaborate on that base-image requirement from Harbor? Do you see any problems if I run the Harbor stack but with Trivy Adapter container from AquaSec?

[2021-03-15 13:25] danielpacak commented on #164
AFAIK the requirement was more for VMware's enterprise registry offering based on Harbor open source. I don't have enough context to compare Photon OS with Alpine OS, but this can be a good question to ask in the Harbor's slack channel.

[2021-03-17 16:24] danielpacak commented on #164
@smitphilip I hope I answered your question and I'll proceed closing this issue. Do let us know if there's something we can help with.

[2021-03-17 16:24] #164 closed

[2021-04-06 09:40] #162 closed

[2021-05-13 09:01] airycanon opened #167 "Running with client-server mode"
As https://aquasecurity.github.io/trivy/v0.18.0/modes/client-server said, I need to update vulnerability database in the background, is there a way to do this?
Thanks for any help.

[2021-05-13 09:20] danielpacak commented on #167
Hi @airycanon ! I'm not sure if I understood your question, but this adapter service for Harbor is using Trivy in standalone mode. In this mode Trivy command downloads Trivy DB from GitHub and stores the DB file in a local file system cache. You don't have to download this file manually so long you enable egress to GitHub APIs

[2021-05-17 01:46] #167 closed

[2021-05-18 20:10] sidewinder12s opened #168 "Slow Scanner Performance"
Hello,

We're running into slow scanning performance with scans regularly taking 20 minutes to finish on pushed images.

We're using the latest version of the harbor-helm chart for deployment to EKS.

The jobservice does not appear to be overwhelmed & the trivy container seems to max out at around 1 vCPU of usage in an EKS cluster, even with limits raised.

We do have a lot of traffic coming into

[2021-05-19 07:31] piyush94 opened #169 "Scan results mismatch after upgrading Harbor to v2.2.0 with new normalized DB schema for vulnerability data"
Hi,

We are seeing scan result mismatch.
Image: `debian:buster-20200803`
Result when using trivy 0.16.0
![image](https://user-images.githubusercontent.com/11614204/118772874-db189980-b8a1-11eb-9863-9a06f5406a2e.png)

Result when using harbor-scanner-trivy 0.18.0 which has trivy 0.16.0
![image](https://user-images.githubusercontent.com/11614204/118773016-00a5a300-b8a2-11eb-81e7-acfd0d517a30.png)

T

[2021-05-21 12:49] danielpacak commented on #169
Thank you for reporting this @piyush94 I did try scanning on my end and I cannot reproduce this issue. Results shown by Harbor v2.2.2-56d7937f and trivy v0.16.0 are consistent.

I don't know how you installed Harbor, but if that's an upgrade from the previous version you may remove the Trivy DB file which is cached by the Harbor Adapter for Trivy.

![harbor-issue-trivy](https://user-images.githubu

[2021-05-21 12:54] danielpacak commented on #169
@knqyf263 Do you see any other reason why @piyush94 may see different results?

[2021-05-21 13:07] danielpacak commented on #168
Hi @sidewinder12s I'd recommend trying out option two as well, i.e. scale up the adapter service.

The `SCANNER_JOB_QUEUE_WORKER_CONCURRENCY` env parma is a bit unfortunate and should be set at 1. We're going to deprecate and eventually remove it. Long story short, this is because in Trivy Standalone mode multiple Trivy processes cannot share the same Trivy DB file.

[2021-05-21 13:11] danielpacak commented on #73
The recent version of Harbor 2 ship Trivy as the default vulnerability scanner. If you use Harbor Installer script and specify the --with-trivy flag you'll see how this adapter service can be run as "pure" container managed by Docker Compose.

[2021-05-21 13:11] #73 closed

[2021-05-21 14:12] knqyf263 commented on #169
In my environment, v0.19.2 shows the same result as @piyush94 showed with v0.16.0. In short, the result is consistent. I also looked into Trivy DB, but the CVSS score of CVE-2021-24031 is 5.5 now. But if you see the changelog in NVD, you will find that the CVSSv3 vector used to be `AV:N/AC:L/PR:N/UI:N/S:U/C:H/I:H/A:N`
https://nvd.nist.gov/vuln/detail/CVE-2021-24031#VulnChangeHistorySection

It is

[2021-05-21 14:19] piyush94 commented on #169
I am running Trivy adapter externally, and not using the one that comes with Harbor. Harbor version is 2.2.1
In Trivy adapter I cleared ~/.cache/* and also Trivy Redis DB but still, CVE-2021-24031 is showing as critical.

[2021-05-21 22:25] knqyf263 commented on #169
Hmm. It doesn't reproduce in my environment.

[2021-05-24 11:19] danielpacak commented on #169
@piyush94 Can you share the version of Trivy DB that you're using in your env? You can do that via Harbor Portal by displaying Trivy scanner adapter properties under the Interrogation Services or by running `trivy --version` command in the adapter's container

[2021-05-24 11:52] piyush94 commented on #169
@danielpacak
[code]

[2021-05-24 15:10] danielpacak commented on #169
The DB seems to be up to date according to your settings.

Since we cannot reproduce with Trivy command, please provide more details about your environment including the installation mode. For example, which exact version of Harbor is it? Is it a new install or upgrade. How do you install Harbor? With installer script or Help? How do you install the adapter for Trivy.

I'm considering that it may

[2021-06-02 13:52] piyush94 commented on #169
Harbor was installed as version 1.10.3 using the offline installer script. After upgraded to 2.2.1. Scanner adapter was added after the upgrade. Other images are getting scanned as well.

[2021-06-24 05:41] piyush94 opened #171 "How overall artifact vulnerability severity is calculated and displayed in Harbor UI?"
I have a query. How is the overall artifact vulnerability severity is calculated?
For example, the below artifact doesn't have any critical vulnerability but overall severity is listed as Critical in Harbor.

![image](https://user-images.githubusercontent.com/11614204/123208465-c355b600-d4dc-11eb-8884-480a8ab78d80.png)

Thanks.

[2021-06-26 14:22] danielpacak commented on #168
Closing as answered. Please reopen or create another issue if you still have questions related to performance and scale.

[2021-06-26 14:22] #168 closed

[2021-06-26 14:56] danielpacak commented on #171
For each vulnerability this adapter service maps severities used by Trivy to severities defined by Harbor Pluggable Scanners API v1.1:

| Trivy | Harbor |
|---|---|
| CRITICAL | Critical |
| HIGH | High |
| MEDIUM | Medium |
| LOW | Low |
| UNKNOWN | Unknown |

Then it calculates the highest severity in the loop. According to the [`toHighestSeverity`](https://github.com/aquasecurity/harbor-scanner

[2021-06-26 15:02] piyush94 commented on #171
We are using Harbor v2.2.1.

[2021-06-26 15:03] danielpacak commented on #171
Okey so this might be related to https://github.com/goharbor/harbor/issues/14929

[2021-06-26 15:08] piyush94 commented on #171
Ok, please go ahead and close this issue if the fix is needed in Harbor.

[2021-06-26 15:10] danielpacak commented on #171
Closing as duplicate of https://github.com/goharbor/harbor/issues/14929.

[2021-06-26 15:10] #171 closed

[2021-07-01 08:51] chlins opened #176 "Harbor scan image sometimes fail at first time."
Harbor version: v2.0.1 (with embedded trivy)

When after long time, scan image, will fail, error log:

[code]

Trivy log:

[code]

[2021-07-01 12:45] danielpacak commented on #176
This does not seem to be related to Trivy or this adapter service but communication between the adapter and Redis.

These errors show up when the adapter service is trying to add a scan task to jobs queue backed by Redis. Make sure that this connection is reliable and the pool is configured in such way that it has enough time and attempts to retry without timing out.

We could probably do better t

[2021-07-01 12:45] #176 closed

[2021-07-01 15:21] danielpacak commented on #169
@piyush94 Did you delete existing vulnerability data when you migrated to v2.2.1? If not this might be a reason for discrepancy. See https://github.com/goharbor/harbor/issues/14929 and my comments about v2.2.1 release notes.

[2021-07-01 15:26] piyush94 commented on #169
@danielpacak we did not. Are these enough?
DELETE FROM vulnerability_record;
DELETE FROM report_vulnerability_record;
DELETE FROM scan_report;

[2021-07-01 15:39] danielpacak commented on #169
Yes. It should delete all vulnerability reports from the database. If it's mission critical prod env make sure you have a DB backup.

[2021-07-01 19:03] piyush94 commented on #169
As per the release notes "_Scan Report: After upgrading to v2.2, all scan reports in the previous version have been deleted due to changes in the vulnerability database scheme. Please rescan the artifacts to obtain the reports._", we assumed the installer or the DB migratory will delete the old scan reports, but seems like it did not.

After running the DELETE queries, the scan report in Harbor is

[2021-07-02 05:30] piyush94 commented on #169
Is the DELETE queries a permanent fix? We use 3 scanners with Trivy being the default. The other two are Clair and Anchore.

[2021-07-02 05:48] danielpacak commented on #169
Actually the release notes is correct because in the migration script there is a delete statement to remove vulnerability reports stored previously in the `scan_report` table. See https://github.com/goharbor/harbor/blob/v2.2.0/make/migrations/postgresql/0050_2.2.0_schema.up.sql#L504

[2021-07-02 05:58] danielpacak commented on #169
Anyway I think we can close this now as it's not related to this Trivy scanner adapter. I'll double check that the migration script works as expected and that Harbor updates severities in the `vulnerability_record` table in case they change in the upstream advisory such as NVD

[2021-07-02 05:58] #169 closed

[2021-07-02 07:11] piyush94 commented on #169
Now, as I remember, during the upgrade scan_reports were indeed cleared. As you stated issue could be with updating severities in the `vulnerability_record` table.

[2021-07-02 07:41] danielpacak commented on #169
I do confirm as well that the migration script works as expected and deletes all records from the `scan_report` table.
I will follow up on updates to the `vulnerability_record` table in scope of https://github.com/goharbor/harbor/issues/14929

[2021-07-07 01:11] wuarthur opened #177 "Trivy DB failed to download with message DB file not found"
Version: 0.16.0
Trivy is hosted on kubenetes

[code]

[code]

[2021-07-07 10:12] danielpacak commented on #177
:wave: @wuarthur Does this problem persist when you rescan after waiting a while? From time to time Trivy has to download vulnerability database from the internet and it might fail due to GitHub API hiccups. (The databased is downloaded as tarball from GitHub releases page.)
If the problem persist please make sure that outbound connections are allowed to https://github.com/aquasecurity/trivy-db/re

[2021-07-07 18:11] wuarthur commented on #177
@danielpacak Just tried this again and it persists. Outbound connections used to be not allowed and I was getting a different error, something along the lines of `timed out while waiting for api.github.com`. After the outbound connections are enabled I started getting this error.

Is both github.com and api.github.com needed for the DB to download, currently only api.github.com connections are ena

[2021-07-14 07:26] wuarthur commented on #177
@danielpacak just tried scanning again after enabling connections to github.com and I am still getting the same error log as above

[2021-07-14 07:43] danielpacak commented on #177
@knqyf263 Do we have somewhere documented the list of hostnames that Trivy may access when it downloads the database file from GitHub? IIRC just adding api.github.com was not enough as it gets redirected to github-releases.githubusercontent.com or even AWS domain.

[2021-07-14 08:20] knqyf263 commented on #177
We don't have a document about URLs.
I think `api.github.com`, `github.com`, and `github-releases.githubusercontent.com`. The last URL may differ since it is redirected from `github.com`. But it is worth trying to allow these 3 URLs.

[code]

[2021-07-14 08:23] danielpacak commented on #177
@wuarthur Can you try above mentioned names and see if it helps?

[2021-07-18 08:45] wuarthur commented on #177
@danielpacak
Hi daniel, sorry for the late reply, I ended up asking IT to open all internet access and checked the log to see which ones are needed.

In the end these are the internet access needed:
[code]

[2021-07-19 09:24] danielpacak commented on #177
Thanks for the update @wuarthur Does that mean that after configuring network rules the problem has gone?

[2021-07-19 20:42] wuarthur commented on #177
Hi @danielpacak , Yes the problem has been resolved after configuring the network rules mentioned above. Thank you for your help!

[2021-07-19 20:42] #177 closed

[2021-08-27 02:59] NitroCao opened #179 "How can I enable basic or bearer token auth?"
Because Harbor doesn't support mutual TLS authentication, so how can I enable basic or bearer token authentication for harbor-scanner-trivy? I didn't find anything related in the doc. Thanks in advance.

[2021-08-29 11:28] NitroCao commented on #179
@danielpacak  Hi Daniel, sorry for my poor description. I mean when I add new scanner in `Interrogation Services` in Harbor, there are only four authorization options: none, basic, bearer and API key. But it seems that harabor-scanner-trivy doesn't support all these authorization methods.

[2021-08-29 11:31] NitroCao commented on #179
Hi Daniel, thanks for your reply. The doc link you post helps me a lot. Thanks again

[2021-08-29 11:31] #179 closed

[2021-08-30 11:21] danielpacak commented on #79
Closing as a stale issue. Please reopen if it's still relevant.

[2021-08-30 11:21] #79 closed

[2021-08-30 11:23] danielpacak commented on #155
Closing as a stale issue. What's more it makes sense only if the upstream Harbor does provide support for connecting to Redis with TLS

[2021-08-30 11:23] #155 closed

[2021-09-15 06:03] owninfo-jiang opened #185 "DB download required when ip changes"
Hi,
We are using trivy in an offline environment. It's required to download DB whenever the scanner ip changes even it's not the first run.
is there any way to skip update ( --skip-update doesn't work)?

[2021-09-15 14:38] danielpacak commented on #185
👋 @owninfo-jiang Not sure I understood your question. This adapter service is configurable via environment variables at startup and you are not supposed to pass manually any flags, such as `--skip-update` to trivy executable binary. Instead adjust environment variable values.

For example, set the value of `SCANNER_TRIVY_SKIP_UPDATE` to `false` to instruct Trivy to skip DB updates. This would also

[2021-09-16 02:31] bad2cat opened #186 "Trivy Scanner scan images found: Context deadline exceeded"
Harbor version: v2.2.2

Trivy Adapter version：v0.18.0

Trivy version：v0.16.0

Add Trivy Scanner，and scan a image found error：timeout context deadline exceeded；Lookup trivy documentation,thers is solution：

https://aquasecurity.github.io/trivy/v0.18.3/faq/

add arguments `--timeout=15m`，but not found a configuration in Harbor Trivy Adapter

[2021-09-16 06:49] owninfo-jiang commented on #185
How do I set the variable value to escape the update? I installed trivy 0.19.2 by using rpm command.

[2021-09-16 07:56] danielpacak commented on #185
I think you are confusing this project, which is just a thin adaptation service between Harbor and Trivy scanner, with [Trivy executable binary](https://github.com/aquasecurity/trivy) project.

You are not supposed to use rpm or any other package manager to deploy Harbor scanner adapter for Trivy. At least we do not support it. The only supported way is to use Docker Compose and Helm chart.

Pleas

[2021-09-16 08:09] danielpacak commented on #186
That's a very good point @bad2cat Would you be interested in contributing to add such a configuration setting?

[2021-09-17 03:15] bad2cat commented on #186
ok，i will try

[2021-09-21 17:09] #185 closed

[2021-10-01 07:33] prashi2202 commented on #186
I had a similar issue with Trivy running on K8S env, basically was not able to scan a large image (100GB) and failed with the following error.

{"exit_code":1,"image_ref":"harbor-core:443/hundredgb/hundredgb@sha256:f658652037766f61ffc68a4fecd3e88ace308f6e6ed7dbeb1956b5031ba968d9","level":"error","msg"
:"Running trivy failed","std_out":"2021-09-29T09:05:35.783Z\t\u001b[33mWARN\u001b[0m\tIncrease --

[2021-10-01 08:16] prashi2202 opened #192 "Trivy Crash - Scan error: unable to initialize a scanner: unable to initialize a docker scanner"
Trivy pod with in the harbor deployment fails with the following error message, can someone help me understand why is this happening and is there a solution for the same.

Harbor is currently deployed on EKS with a S3 bucket at the backend.

Just to give you a background Trivy used to fail to scan large images and crash.  To resolve this we increased the Timeout value to 40mins.

      **TRIVY_TIM

[2021-10-01 08:39] danielpacak commented on #192
It seems that Trivy has no access to pull images from the `replication-test/replicate-image` repository:

[code]

Normally Harbor core generates a temporary robot account and passes it to Trivy executable through the adapter service. However, scan jobs are async and if they wait for too long in the scan queue the robot account credentials might expire.

Try rescanning a troublesome artefacts and i

[2021-10-01 09:04] prashi2202 commented on #192
Thanks Daniel,

I found that the robot account set for the said project was in disabled condition, I enabled the same and re ran a scan against the image which had failed earlier and this time am getting this error..

{"exit_code":-1,"image_ref":"harbor-core:443/replication-test/replicate-image@sha256:ce6171773eeaeaf8c7242558ff953373eb47edcaf17ef534511c4c68a7a94b5b","level"
:"error","msg":"Running

[2021-10-01 09:12] danielpacak commented on #192
Based on this logs it's hard to tell what is the root cause of the failure. How big is that artifact? This can be OOM error killing the process abruptly.

[2021-10-01 09:17] prashi2202 commented on #192
Agreed...
The image size is around 172MB only..

IMAGE
sha256:ce617177
docker pull marketplace.intg.hpedevops.net/replication-test/replicate-image@sha256:ce6171773eeaeaf8c7242558ff953373eb47edcaf17ef534511c4c68a7a94b5b
replicate4
172.54MiB

[2021-10-01 09:22] prashi2202 commented on #192
I have got another image reporting the same issue and the image size is around 300MB.  I have another image which is 100GB that has no issues.

2021-10-01T09:18:46Z [INFO] [/pkg/scan/job.go:348]: scanRequest:
2021-10-01T09:18:46Z [INFO] [/pkg/scan/job.go:359]: {
  "registry": {
    "url": "https://harbor-core:443",
    "authorization": "[HIDDEN]"
  },
  "artifact": {
    "namespace_id": 38,
    "r

[2021-10-01 10:08] danielpacak commented on #186
@bad2cat Not sure if you made any progress on that, but since this issue is reported in multiple channels already I decided to give it more priority and implemented it in #191

[2021-10-01 13:24] danielpacak commented on #192
What are the memory and cpu limits for Trivy pod? Are installing from Harbor helm-chart or the one that we host in this repo?

[2021-10-01 14:34] prashi2202 commented on #192
I tried created another project, pushed a mysql image into the repo and the set the scanning to Automatically scan when image is pushed and it failed with the following error.

{"exit_code":-1,"image_ref":"harbor-core:443/testproject2/mysql@sha256:a0a2699fe9133b68079099740338691e72e0f880325e28f1b1bdb7589d6a5be1","level":"error","msg":"Running trivy failed","std_out
":"","time":"2021-10-01T14:27:02

[2021-10-01 14:49] danielpacak commented on #192
Okey, and what happens when you increase memory limit? 128 Mi is pretty low in general.

[2021-10-01 14:51] danielpacak commented on #192
Setting memory limits might be tricky as it really depends of types of images that you store in your registry. I would start without setting any limits and monitor trivy pod to get an idea how much memory is required on average to scan without OOM errors. Only then I'd adjust and enable memory requests and limits on trivy pod.

[2021-10-01 14:59] prashi2202 commented on #192
I will work on that recommendation, also what I did was that looked into the logs from core pod and I see these messages, does it help you troubleshoot ?

2021-10-01T14:54:00Z [ERROR] [/server/middleware/security/oidc_cli.go:62][requestID="6cae0d8e-c38b-4a82-a532-d5e41e2c14b4"]: failed to verify secret, username: robot$testproject2+Trivy-68e9f7a9-22c7-11ec-995b-9e1736440db1, error: failed to get o

[2021-10-01 15:01] danielpacak commented on #192
This seems to be related to Harbor replication setup - not vulnerability scanning:

[code]

[2021-10-01 15:03] prashi2202 commented on #192
Yes, these are from the replication config and they trigger when I run a scan against the image.

[2021-10-01 15:32] danielpacak commented on #192
Let's take replication out of the picture and focus on trivy and memory limits, which seems to me like the root cause of the errors. Then we can see how vulnerability scanning relates to replication, which is probably sth to do with core Harbor service.

[2021-10-01 15:35] prashi2202 commented on #192
Will do that right away, thank you.

[2021-10-01 15:49] #186 closed

[2021-10-01 16:27] prashi2202 commented on #192
Replication deleted, core pod restarted and still the pod is trying to reachout to the robot#repliction-test+robot-replicate user...

2021-10-01T16:14:11Z [ERROR[] [/server/middleware/security/oidc_cli.go:62][requestID="089e8156eca348b7778d933c85011729"]: failed to verify secret, username: robot$replication-test+robot-replicate, error: failed to get oidc user info, error: <QuerySeter> no row found

[2021-10-04 04:18] prashi2202 commented on #192
Hi Daniel,

Thanks for your recommendations, I have increased the memory to 1GB and that seems did the trick, the images are getting scanned without any issues.

![image](https://user-images.githubusercontent.com/83032278/135793921-c236e7f9-54dd-45a3-ac4f-ef76a775142d.png)

Thank you once again.

[2021-10-04 07:13] danielpacak commented on #192
Great new @prashi2202 and thank you for the update. I'll go ahead and close this issue.

[2021-10-04 07:13] #192 closed

[2021-10-25 07:00] heww opened #204 "CVE-2021-38297 security issue in scanner trivy"
Hi, there is [CVE](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-38297) in scanner trivy of v0.23.0.

Hope can release a new version to fix this so that the harbor 2.4.0 can include the new trivy scanner.

![image](https://user-images.githubusercontent.com/5634205/138648638-0599343a-19e8-4c04-a0e3-398f37a6e2da.png)

[2021-10-25 08:10] #204 closed, assigned to danielpacak

[2021-11-02 14:59] yilmi commented on #155
Hi @danielpacak,

We have a helm chart at [bitnami/charts](https://github.com/bitnami/charts/blob/master/bitnami/harbor/values.yaml#L2645) that also uses this component and where we would like to support TLS connections to Redis as users often use external redis services.

I was looking at https://github.com/bitnami/charts/issues/7691 when I realised that the components we use don't always support

[2021-11-03 08:51] danielpacak commented on #155
Since Trivy is the default scanner in Harbor, we'll update this adapter service in scope of https://github.com/goharbor/harbor/issues/13223

[2021-11-05 13:29] prashi2202 opened #209 "Scanning image fails with error "running trivy wrapper: running trivy: signal: killed""
Issue:
======
Scan of a image fails with the below mentioned error,

`"2021-11-05T04:36:48Z [ERROR] [/jobservice/runner/redis.go:113]: Job 'IMAGE_SCAN:6c1dc43125847fc451892d10' exit with error: run error: check scan report with mime type application/vnd.scanner.adapter.vuln.report.harbor+json; version=1.0: running trivy wrapper: running trivy: signal: killed: 2021-11-05T04:36:21.586Z DEBUG   Sever

[2021-11-10 09:52] danielpacak commented on #209
Duplicate of https://github.com/goharbor/harbor/issues/15977

[2021-11-10 09:52] #209 closed

[2021-11-17 00:15] distortedsignal opened #210 "Unclear how to deploy this on bare-metal harbor/trivy deployment"
It is unclear how to deploy this when harbor and trivy are both deployed in a non-Kubernetized way. I would love to use helm to install this project, but since Trivy and Harbor are both installed on the same host, that's not really possible.

[2021-11-21 23:37] py-go commented on #210
If you want to use ```harbor-scanner-trivy``` also in non-Kubernetized way then you can simply follow these steps to integrate the binary version of it:

- Start a Redis DB in your system(**it's kind of prerequisite**).

- Run ```make``` to get the binary version of harbor-scanner-trivy called: ```scanner-trivy```

- Execute the `scanner-trivy` binary to start the `harbor-scanner-trivy `at 8080 po

[2021-12-09 06:46] piyush94 opened #211 "inconsistency in the report generated"
**What steps did you take and what happened:**

When scanning an image multiple times, there is inconsistency in the report generated.

**What did you expect to happen:**

Vulnerability report should not change with each consecutive scan.

**Anything else you would like to add:**

I am running the Harbor Scanner Adapter for Trivy in K8s using the official Helm chart. I've set the `replicaCount `to

[2021-12-09 08:46] danielpacak commented on #211
👋 @piyush94  Thank you for reporting this issue. We've seen a similar behaviour and it was fixed in Harbor 2.4. See https://github.com/goharbor/harbor/issues/15623 and https://github.com/goharbor/harbor/issues/16052 for more details.

Having multiple instances of Trivy scanner pod should not be the issue so long Harbor core is updating vulnerability records in a transaction. Do let us know if the

[2021-12-09 13:31] piyush94 commented on #211
@danielpacak Thanks for the info. I tried in Harbor 2.4.0 and issue seems to be fixed.
By any chance this fix will be backported to 2.3.x ?

[2021-12-10 13:00] danielpacak commented on #211
I'm not aware of any plans for backporting fixes to 2.3.x, but the best would be to ask Harbor maintainers, who are responsible for releases, in the Slack channel.

[2021-12-10 13:00] #211 closed

[2021-12-17 17:20] ArgonV opened #212 "Versions after 0.12.0 try to connect to redis at localhost"
When deploying versions of Trivy in a container after 0.12.0, the container tries to connect to redis at _redis://127.0.0.1:6379_ instead of the URL/URI specified in the env var of the Helm chart. Log:

[code]

Env vars set in my deployment:
[code]
Because of this, it never becomes available within Harbor Interrogation Services - and is marked as Unhealthy.

[2021-12-17 17:42] ArgonV commented on #212
I need to add, I'm using the Helm chart that's in the Rancher Library.

[2021-12-17 19:52] ArgonV commented on #212
Adding the Helm v3 chart repo at https://aquasecurity.github.io/helm-charts, and deploying the harbor-scanner-trivy chart from there fixed my issue. The needed redis env vars apparently changed after Trivy v0.12 - and it was a breaking change. This chart allows me to pass it the proper env vars through the answer.yaml

[2021-12-17 19:52] #212 closed

[2021-12-21 18:33] thefluffysysop opened #213 "DB error: failed to download vulnerability DB - trivy-offline.db.tgz - Github redirect to 'objects.githubusercontent.com'"
**What steps did you take and what happened:**

Trivy, inside Harbor, stopped working. Trivy logs the following:
[code]

**What did you expect to happen:**

Trivy should have downloaded the DB and scanned ;)

**Anything else you would like to add:**

Problem turned out to be the URL re-directions that Git is going through.
As documented in this issue ( #177 ) and here: (https://aquasecurity.github

[2022-01-12 10:47] NitroCao opened #218 "Can this adapter use the same redis with another trivy in server mode for cache?"
Cause the trivy in this adapter runs in standalone mode, we need to run another trivy instance in server mode to integrate trivy into CI/CD. So as the title describes, can these two trivy instances use the same redis instance? In other words, is there any race condition if the two trivy instances use the same redis instance?

BTW, is there any plan to let the adapter run in client mode, so we can

[2022-01-12 11:52] danielpacak commented on #218
This adapter service can use any Redis instance by setting the connection URL with the  `SCANNER_REDIS_URL` environment variable. There should not be any clash with Trivy server, but if that's the case you can always configure key prefix with `SCANNER_STORE_REDIS_NAMESPACE`.

We don't have any plan to switch for a ClientServer mode as we have a local fiesystem cache similar to what Trivy server do

[2022-01-12 11:52] #218 closed

[2022-01-13 01:49] NitroCao commented on #218
I mean if we can use the same cache in redis to speed up scanning?

[2022-01-13 07:38] danielpacak commented on #218
It's not possible to reuse the cache managed by Trivy server. This adapter service is using Redis to cache scan reports that are eventually persisted in the Harbor database.

[2022-02-11 09:31] Paper-Dragon opened #219 "catch error: unable to initialize the cache: unable to initialize fs cache: unable to open DB: no locks available"
## Description

In Harbor ，use
[code]
run trivy
when i check image bug ,
output
[code]

## What did you expect to happen?

No Check bug

## What happened instead?

Check Bug

## Output of run with `-debug`:

[code]

## Output of `trivy -v`:

[code]

## Additional details (base image name, container registry info...):

[code]

[2022-02-11 09:50] Paper-Dragon commented on #219
[code]

[2022-03-15 19:50] cnwaldron opened #222 "Errors regarding invalid usage due to Trivy 0.24.2 not supporting -version -format json"
**What steps did you take and what happened:**
Just upgraded existing working deployment with new version v0.26.0 with offline scan and skip update enabled.
[A clear and concise description of what the bug is, what commands you ran, and which actions you performed in Harbor UI.]

1. Initiate a scan in Harbor (v2.4.1)
2. Scan returns results
Log of the harbor-scanner-trivy is full of errors like be

[2022-03-16 09:35] danielpacak commented on #222
Nice catch @cnwaldron and thank you for opening this issue! We talked with @knqyf263 and it's a regression in Trivy. To fix it we'll bump up Trivy once new version is available.

[2022-03-21 13:21] danielpacak commented on #222
https://github.com/aquasecurity/trivy/pull/1854

[2022-03-24 15:38] Flugpanda opened #226 "Trivy v0.24.2 - DB schema version which is not supported"
**What steps did you take and what happened:**

* download and migrate Harbor from Version 2.4.1 to 2.4.2 via [offline Installer](https://github.com/goharbor/harbor/releases/download/v2.4.2/harbor-offline-installer-v2.4.2.tgz)
* change harbor config for trivy
  * skip_update: false -> true
* Setup trivy offline db in airgap pedenvironment
  * download [trivy offline db](https://github.com/aquasecu

[2022-04-04 11:13] hasonhai opened #229 "Trivy reported for incorrect syntax"
**What steps did you take and what happened:**

I install Harbor-Scanner-Trivy as an addtional scanner for my Harbor registry and configure it to work with the registry.
During the scan, the adapter call for Trivy and some log lines report that the adapter using wrong syntax format:

`{"error":"failed running trivy version command: exit status 1: Incorrect Usage. flag provided but not defined: -fo

[2022-04-04 11:15] hasonhai commented on #222
Seems like the issue persist after replace with Trivy v0.25.0.

[2022-04-04 11:42] danielpacak commented on #222
Thank you for checking this out @hasonhai I'll have one more proper look into this issue.

[2022-04-04 11:56] hasonhai commented on #222
I linked the log of Trivy v0.25.0 here #229

[2022-04-21 08:44] #222 closed

[2022-04-21 08:44] #229 closed

[2022-04-21 13:00] danielpacak opened #234 "Add support for Redis as cache backend"
See https://github.com/goharbor/harbor/issues/16606

[2022-04-28 02:28] zhuxindong opened #235 "How do I run without docker?"
How do I run without docker ?
Can I just  run  it use binary file? how do i specify parameters？

[2022-04-28 08:17] danielpacak commented on #235
You can just download executable binary and run it as any other program:

[code]

Most likely, you'll see a similar error as in the output above, because there is a bunch of environment variables that must be set in order to configure the adapter service.

Check Helm templates for example https://github.com/aquasecurity/harbor-scanner-trivy/blob/main/helm/harbor-scanner-trivy/templates/statefulset

[2022-04-28 08:17] #235 closed

[2022-04-28 09:13] zhuxindong opened #236 "Can I depoly harbor-scanner-trivy on another machine?"
**If I deploy the harbor on machine A, can I deploy the harbor-scanner-trivy  on machine B?**
I try to do it, I just deploy  harbor on machine A and deploy the harbor-scanner-trivy  on machine B.
But it seems like "harbor-scanner-trivy" cannot find the "http://core:8080/v2", obviously , machine B cannot resolve  the dns because machine A and machine B is not in the same network "harbor".
So, how c

[2022-04-28 09:17] danielpacak commented on #236
Harbor core communicates with Trivy adapter via HTTP(S) protocol so they can be deployed on separate hosts. Usually we do not provide support for networking issues / config unless it's related to functionality of the adapter service.

[2022-04-28 09:17] #236 closed

[2022-04-28 09:35] zhuxindong commented on #236
thanks , but i found that you had said "Make sure that all Harbor services as well as adapter service are in the same Docker network and can see each other" in https://github.com/aquasecurity/harbor-scanner-trivy/issues/73#issuecomment-577765122.
Is that mean the Harbor core and Trivy adapter aor must in the same docker network? I don't find any configuration in Trivy adapter to specify the habor-

[2022-04-28 09:48] danielpacak commented on #236
Harbor registry URL is not configurable, but is passed to Trivy Adapter in [ScanRequest](https://github.com/aquasecurity/harbor-scanner-trivy/blob/e0160bc153644fa65eef9c5c0dd91417d1eb18d0/pkg/harbor/model.go#L63) payload.

[2022-04-28 12:02] zhuxindong commented on #236
thank you very much, I have a very large harbor cluster, and for some reasons, i must deploy the Trivy Adapter in another machine,since the Harbor registry URL is not configurable , it fail :(

[2022-04-29 10:50] zhuxindong opened #237 "how to give paramter "--offline-scan" to trivy"
hello, i want to use harbor-scanner-trivy in Air-Gapped Environment, how can i give the paramter "--offline-scan"  to trivy?

[2022-04-29 10:52] danielpacak commented on #237
https://github.com/aquasecurity/harbor-scanner-trivy#configuration for the rescue. There is the SCANNER_TRIVY_OFFLINE_SCAN environment variable.

[2022-04-29 10:52] #237 closed

[2022-06-10 05:52] MinerYang opened #240 "Supoort Redis Username-Password ACL"
Harbor now using trivy and trivy-adapter for scan. And we want to using external redis with username-password Auth which supported since Redis 6(https://redis.io/docs/manual/security/acl/).
But found out that harbor-scanner-trivy still using old version redigo (`github.com/gomodule/redigo v2.0.0+incompatible`) which can not recognize username- password with following error.
[code]

Thus, we expect

[2022-06-10 11:22] danielpacak commented on #210
Trivy Adapter is usually deployed as a container in Docker Compose project or as pod in Kubernetes cluster with Helm. These options are well document in Harbor documentation.

[2022-06-10 11:22] #210 closed

[2022-06-10 13:19] danielpacak commented on #226
During migration, when there is backward compatibility issue, I'd recommend cleaning up cache directories used by Trivy. These are configured with environment variables:

[code]

[2022-06-10 13:19] #226 closed

[2022-06-10 13:22] danielpacak commented on #219
Is this issue still reproducible with the latest Harbour 2.5.1 and recent Trivy Adapter service? If yes, please reopen it with more details about Harbor version, installation method (Installer script vs Helm chart), and any non default configuration that you've made.

[2022-06-10 13:22] #219 closed

[2022-06-10 13:28] #213 closed

[2022-06-24 07:54] danielpacak commented on #240
👋 @MinerYang Were you able to test this out with the latest release that bumped redigo to v1.8.8?

[2022-06-24 09:35] MinerYang commented on #240
Sure, Sorry for the late update, I was occupied these two weeks and will keep working on this feature as soon as possible!!

[2022-06-27 11:00] flngen opened #248 "Private OCI registry option for trivy-db"
Can we please have the ability to define custom/private OCI registries for trivy-db, perhaps via SCANNER_TRIVY_DB_REPOSITORY (dbRepository)? This would help in air-gapped environments.

Thanks!

[2022-07-12 02:59] haohanv1 opened #250 "scanning job can't stop"
<img width="1133" alt="image" src="https://user-images.githubusercontent.com/12137225/178397871-1cfa081e-2221-48f6-85b8-b41d81350a35.png">
This task has been running for ten hours
[code]
i try to fushdb trivy redis and start a new trivy container, ,but it didn't work.

[2022-07-14 06:41] 631068264 opened #251 "I can't run scan task for trivy 0.24.2 in harbor"
harbor 2.4 migrate from 2.3

get logs
[code]

**Environment:**

- Harbor version: 2.4
- Harbor Scanner Adapter for Trivy version: 0.24.2
- Harbor installation process ([Installer script][harbor-installer], [Helm chart][harbor-helm], etc.):
I use ./install.sh --with-chartmuseum --with-trivy to install

If I want to uninstall trivy and the data about trivy how to do that?

---

after reinstall trivy

[2022-07-14 23:58] lixdavid94 opened #252 "Disable secret scanning"
```{"error":"running trivy wrapper: running trivy: exit status 1: 2022-07-14T22:32:11.318Z\t\u001b[34mINFO\u001b[0m\tVulnerability scanning is enabled\n2022-07-14T22:32:11.318Z\t\u001b[34mINFO\u001b[0m\tSecret scanning is enabled\n2022-07-14T22:32:11.318Z\t\u001b[34mINFO\u001b[0m\tIf your scanning is slow, please try '--security-checks vuln' to disable secret scanning\n2022-07-14T22:32:11.318Z\t\u

[2022-07-28 00:17] lixdavid94 opened #254 "Fixable vulnerabilities are not accurate"
I'm seeing this behavior with versions `v0.28.0` and above. The fixable vulnerabilities in the scans in the harbor UI/reports are not accurate. For example, I added `SCANNER_TRIVY_IGNORE_UNFIXED:true` as an env variable to ignore all vulnerabilities without a fix. Yet the scan shows only 2 fixable vulnerabilities out of the 7 reported. Running trivy locally through cli also shows the fixable vulne

[2022-07-28 01:52] lixdavid94 commented on #254
Running ```DELETE FROM vulnerability_record;
DELETE FROM report_vulnerability_record;
DELETE FROM scan_report;```

Fixed the mismatch

[2022-07-28 01:53] #254 closed

[2022-07-28 21:39] hasonhai opened #255 "New scanner version (v0.30.0) consumes too much CPU"
**What steps did you take and what happened:**

We install the new scanner version v0.30.0 and do a full scan in our Harbor with around 8200 images.
The old version (v0.27.0) took 2.5 hours to finish. CPU used is little. I have 3 instances of it and each only consume 0.25 core in average.
The new version (v0.30.0) took 6 hours and just finished 1200 images. CPU used is quite high. I have 3 instanc

[2022-08-09 08:57] Kilz78 opened #256 "Add custom policies during the scan with Harbor"
Hello,

I'm searching a way to add some custom policies during the CVE scan, about misconfiguration.
For example during the CVE scan, I would like to check if the image is rootless or not etc...

Others example :
- Verify that COPY command is used instead of ADD
- Check that SSH port is disabled
- Check the base image used in the image
- ...

Is it possible to set something like that with this plu

[2022-08-10 21:18] asudhak opened #257 "Raw/Full trivy output from harbor scan"
What is the right way to obtain the raw trivy output through harbor APIs ?
The `application/vnd.security.vulnerability.report; version=1.1` mime type seems extremely limited that misses some notable fileds including
1. The path to vulnerable package 2. package vs application library  3. Language

There are proposals in https://github.com/goharbor/community/blob/main/proposals/pluggable-image-vulne

[2022-08-10 22:50] adidwi26 opened #258 "How do I modify Trivy configuration?"
I wanted to modify few of the Trivy properties like env.SCANNER_TRIVY_VULN_TYPE. The documentation mentions to set it via environment variables during startup. I am unable to understand how do I do that ?

I tried changing the configuration under `/common/config/trivy-adapter` as well as adding to harbor.yml file but that didn't help.

[2022-08-11 20:38] lixdavid94 commented on #255
@hasonhai I noticed the same behavior with the trivy scans taking longer. I think it's because of [secret scanning](https://aquasecurity.github.io/trivy/v0.27.0/docs/secret/scanning/) which was introduced in trivy `v.027.0`. I've since rolled back to adapter version `v.0.28.0` which used trivy `v.0.26.0` that doesn't have the secret scanning feature.

I have this [issue](https://github.com/aquasec

[2022-08-16 15:17] Szpark opened #259 "trivy next database update is in the past"
I updated Harbor last week to v.2.4.3

When I go to Interrogation Services -> Select Trivy -> Click the arrow down icon I can see the next Trivy DB update is in the past? How can I change this value or update it manually?

[code]
![Screen Shot 2022-08-16 at 11 16 22](https://user-images.githubusercontent.com/8669658/184916088-d79b25af-3f97-42c7-9dcd-9440b7bfe554.png)

[2022-08-16 16:45] lixdavid94 commented on #252
@hasonhai Were you able to test it out? It doesn't look like setting that env variable would pass it onto the container running trivy

[2022-08-26 19:55] lixdavid94 commented on #252
Yep this worked thanks @hasonhai !

[2022-08-26 19:55] #252 closed

[2022-08-27 20:14] #255 closed, assigned to chen-keinan

[2022-09-06 10:22] badsmoke opened #260 "/metrics has no usefull values"
Scanner:
Name:Trivy
Hersteller:Aqua Security
Version:0.29.2

hello the /metrics endpoint had no metrics about the scanner and vulnerabilities?

do you have to activate that extra?

[code]

[2022-09-13 08:43] av-commits commented on #258
Same issue here with SCANNER_TRIVY_TIMEOUT

Image Version: goharbor/trivy-adapter-photon:v2.6.0
I tried to modify the env file: ./common/config/trivy-adapter/env and to add the env variable SCANNER_TRIVY_TIMEOUT (docker-compose.yml) without success

[2022-09-15 12:19] sebrhex opened #262 "Scanning performance significantly slower between Harbor 2.5.1 and 2.6.0"
**What steps did you take and what happened:**

We have a production setup with harbor 2.5.1 and in parallel are testing 2.6.0. On setting up our test system the complete database and repository is replicated into the test system. We run regular nightly scans and also scan each time an image is pushed (e.g. by CI).
After starting the test system we always run "Interrogation services - scan now" an

[2022-09-22 10:10] sebrhex commented on #262
We have detected that after letting the initial scan complete, the scan times later don't diverge any more between 2.6.0 and 2.5.1.

[2022-09-22 10:10] #262 closed

[2022-09-23 17:42] chen-keinan opened #263 "Fix Vulnerabilities CVEs (2022-40674,2022-32207,2022-37434,2022-1996 ,2022-36085)"
[code]

[2022-09-28 14:00] #263 closed

[2022-09-29 06:53] chen-keinan opened #266 "sbom support"
it is required to add support for sbom production in trivy-adapter.
the idea is to to follow the current convention of `mine/type` and produce a new type for sbom which will be persisted on hardor DB and presented in UI.

[2022-10-17 09:33] thirisangu84 commented on #213
I have upgraded from v2.2.1 to v2.5.0 post upgrade trivy scan not able to view scan result. Its shows only error logs message.

021-12-21T10:02:25Z [ERROR] [/pkg/scan/job.go:292]: check scan report with mime type application/vnd.security.vulnerability.report; version=1.1: running trivy wrapper: running trivy: exit status 1: 2021-12-21T10:02:25.436Z	[34mINFO[0m	Need to update DB
2021-12-21T10:02:25

[2022-10-27 09:05] haoshen0611 commented on #251
Have you solved this problem？

[2022-10-27 09:08] #251 closed

[2022-10-27 09:11] 631068264 commented on #251
Yes  clean old data and then  I reinstall trivy.

[2022-11-22 06:33] LuckyT0mat0 opened #272 "405 Not Allowed"
When I tried to install harbor using the default helm installation in the documentation, I exposed harbor to the public network using nodeport mode, accessed the corresponding port, and was able to access the harbor panel, but logged in using the admin/Harbor12345 user and password. I was prompted that the account password was wrong, but I saw that the request was 405 Not Allowed, and observed the

[2022-11-25 08:20] danielpacak commented on #260
These metrics are only relevant to the harbor-scanner-trivy "microservice" and they work as intended, i.e. show Go library runtime metrics related to the scanner process. There is also a bunch of metrics exposed by the Harbor core services that you are probably interested in. See [Access Metrics](https://goharbor.io/docs/2.6.0/administration/metrics/) in Harbor documentation for more details.